/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h5 {
    font-size: 18;
}
.p1 {
    white-space: pre-line;
}
/* Set body font and background color */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Container for the entire page */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styling */
header {
    text-align: center;
    margin-bottom: 20px;
}

nav {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc; /* Add a border at the bottom */
    padding-bottom: 10px; /* Add some space below the border */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px; /* Add padding to the navigation items */
    border-radius: 5px; /* Add rounded corners to the navigation items */
    border: 1px solid #ccc; /* Add a border around the navigation items */
    transition: background-color 0.3s, color 0.3s; /* Add a smooth transition for hover effects */
}

nav ul li a:hover {
    background-color: #333; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
}
/* Main content section */
main {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Footer styling */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}